<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/chatbot.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
    <title>Item Management</title>
</head>

<body>

    <div id="main-container">
        <button onclick="showAddOptions()">Add New Items</button>
        <button onclick="viewAllItems()">View All Items</button>

        <div id="add-options" style="display: none;">
            <button onclick="addNewDoctorItem()">Add New Doctor Item</button>
        </div>

        <div id="view-all-items" style="display: none;">
            <button id="view-all-items-button">See All Reports</button>
            <div id="list_of_items_div">

            </div>
        </div>

        <div id="add-new-items" style="display: none;">
            <form enctype="multipart/form-data">
                <label for="doctor-drop-down">Doctor Name:</label>
                <select id="doctor-drop-down">
                    <option value="Dr.Shardul Chavhan">Dr.Shardul Chavhan</option>
                    <option value="Dr.Budhlani">Dr.Budhlani</option>
                    <option value="Dr.Moon">Dr.Moon</option>
                    <option value="Dr.Kale">Dr.Kale</option>
                    <option value="Dr.Men">Dr.Men</option>
                </select>
                <label for="diagnosis">Diagnosis:</label>
                <input type="text" id="diagnosis">
                <label for="prescription">Prescription:</label>
                <input type="text" id="prescription">
                <label for="scan-files">Upload Scans:</label>
                <input type="file" id="scan-files">
                <button id="add-new-items-button">Enter</button>
            </form>
        </div>

        
        <div id="chatbot-window">
            <div id="chatbot-header">
                <span>Chatbot</span>
                <!-- <button onclick="toggleChatbot()">Toggle</button> -->
            </div>
            <div id="chatbot-body">
                
            </div>
            <div id="chatbot-input">
                <input type="text" id="chat-input" placeholder="Type your message...">
                <button id="chatbot-send-button">Send</button>
            </div>
        </div>
    </div>

    <script src="./home.js"></script>
</body>

</html>
