<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
</head>
<body>
    <form>
        <label for="emailId">Email</label>
        <input type="email" id="emailId">
        <label for="password">Password:</label>
        <input type="password" id="password">
        <button id="button">Enter</button>
    </form>

    <script>

        document.getElementById('button').addEventListener('click',async (e)=>{
            e.preventDefault();
            const email = document.getElementById('emailId').value;
            const password = document.getElementById('password').value;
           try{
            const result = await axios.post("http://localhost:3000/login",{email,password});
            if(result.data.success===true){
                alert("Successfully logged in");
                localStorage.setItem('token',result.data.token);
                console.log(result.data.token);
                window.location.href="/home";
            }
           }catch(e){
                alert(e);
           }
        })
    </script>
</body>
</html>