<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
</head>

<body>
    <form method="post">

        <label for="name">Enter Name</label>
        <input type="text" id="name">

        <label for="password">Enter Password</label>
        <input type="password" id="password">

        <label for="aadhar">Enter Aadhar</label>
        <input type="password" id="aadhar">

        <label for="email">Enter Email</label>
        <input type="email" id="email">

        <label for="phone">Enter Phone</label>
        <input type="text" id="phone">

        

        <div class="checkbox-container">
            <h5>Are you a doctor? </h5>
            <input type="checkbox" id="is-doctor" name="is-doctor">
        </div>

        <button id="button">Enter</button>

        <button id="redirectToLogin">Login</button>
    </form>

    <script src="./signup.js"></script>
</body>

</html>