<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
</head>

<body>
    <form method="post">

        <label for="name">Enter Name</label>
        <input type="text" id="name">

        <label for="password">Enter Password</label>
        <input type="password" id="password">

        <label for="aadhar">Enter Aadhar</label>
        <input type="password" id="aadhar">

        <label for="email">Enter Email</label>
        <input type="email" id="email">

        <label for="phone">Enter Phone</label>
        <input type="text" id="phone">

        

        <div class="checkbox-container">
            <h5>Are you a doctor? </h5>
            <input type="checkbox" id="is-doctor" name="is-doctor">
        </div>

        <button id="button">Enter</button>

        <button id="redirectToLogin">Login</button>
    </form>

    <script>

    
        document.getElementById('button').addEventListener('click', async (e) => {
            e.preventDefault();
            const name = document.getElementById('name').value;
            const password = document.getElementById('password').value;
            const aadhar = document.getElementById('aadhar').value;
            const email = document.getElementById('email').value;
            const phone = document.getElementById('phone').value;
            const checkbox = document.getElementById('is-doctor').checked;
            console.log('checkbox',checkbox);
            document.getElementById('name').value = "";
            document.getElementById('password').value = "";
            document.getElementById('aadhar').value = "";
            document.getElementById('email').value = "";
            document.getElementById('phone').value = "";
            
            try {
                console.log("signup page");
                const response = await axios.post("http://localhost:3000/signup", { name, password, aadhar, email, phone,checkbox});
                if (response.data.success == true) {
                    console.log("signed up");
                    window.location.href = "/login";
                }
            } catch (e) {
                console.log(e)
            }
        });

        document.getElementById('redirectToLogin').addEventListener('click', (e) => {
            e.preventDefault();

            window.location.href = "/login";
        })
    </script>
</body>

</html>