body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../../uploads/background.jpg");
    background-size: cover;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#redirectToLogin {
    background-color: #95a5a6;
    margin-top: 10px;
}

#redirectToLogin:hover {
    background-color: #7f8c8d;
}

.checkbox-container {
    margin-bottom: 0px;
    display: inline-flex;
    /* Adjust the margin as needed */
}

.checkbox-container label {
    margin-right: 10px; /* Adjust the margin as needed */
}